* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-family: "Open Sans", sans-serif;
    font-family: "Work Sans", sans-serif;
}

/* common styles */
.text-gray-small {
    color: #534c64;
    font-size: 1.25rem;
    font-weight: 400;
}

.text-gray-medium {
    color: #534c64;
    font-size: 0.8rem;
    font-weight: 400;
}

.section-description {
    color: #534c64;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.btn-primary {
    border-radius: 48px;
    background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
    padding: 20px 40px;
    font-size: 1.25rem;
    font-weight: 600;
    color: #fff;
    border: none;
}

.btn-secondary {
    border-radius: 48px;
    background: #4ec5f7;
    padding: 20px 40px;
    font-size: 1.25rem;
    font-weight: 600;
    color: #fff;
    border: none;
}

.btn-career {
    border-radius: 48px;
    background: white;
    padding: 20px 40px;
    font-size: 1.25rem;
    font-weight: 600;
    color: #ff42a5;
    border: none;
}

.btn:hover {
    cursor: pointer;
}

.section-title {
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 3rem;
    font-weight: 700;
}
.section-title-black {
    color: black;
}

/* navbar styles */
nav {
    background: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container {
    min-height: 130px;
    display: flex;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

.nav-brand-container {
    display: flex;
    align-items: center;
    width: 50%;
}

.nav-brand-container img {
    margin-right: 20px;
}

.nav-menu-items-container {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    align-items: center;
}

.nav-menu-items-container a {
    text-decoration: none;
    color: #3c354f;
}

.nav-menu-items-container a.text-gray-small {
    white-space: nowrap;
}

.nav-menu-items-container .with-icon {
    width: 262px;
    height: 56px;
    background: rgba(11, 2, 35, 0.1);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* banner */
.banner {
    background-image: url("../images/Group14.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 50%;
}

.banner-container {
    /* border: 1px solid red; */
    max-height: 700px;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
}

.banner-content {
    /* border: 1px solid black; */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.banner-features {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 10px;
}

.banner-features-list-item {
    display: flex;
    gap: 10px;
    align-items: center;
}

.banner-img {
    /* border: 1px solid blue; */
    width: 50%;
}

.banner-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-btn-group {
    display: inline-flex;
    gap: 10px;
}

.banner-title-first {
    font-size: 2.5rem;
    font-weight: 600;
}

.banner-title {
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 5.9rem;
    font-weight: 800;
}

/* we are gamers section */
.second-banner {
    /* border: 1px solid #29ff29; */
    background: linear-gradient(
        90deg,
        rgba(255, 66, 165, 0.03) 0%,
        rgba(255, 66, 165, 0.03) 100%
    );
}

.second-banner-container {
    /* border: 1px solid red; */
    max-width: 1000px;
    min-height: 500px;
    margin: 0 auto;
    display: flex;
}

.second-banner-img {
    /* border: 1px solid green; */
    width: 60%;
    margin: auto 0;
}

.second-banner-content {
    /* border: 1px solid blue; */
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 15px;
    text-align: right;
}

.second-banner-img img {
    width: 100%;
    object-fit: cover;
}

.second-banner-text {
    color: #534c64;
    font-size: 1.2rem;
    font-weight: 500;
}

.second-banner-quote {
    color: #534c64;
    font-size: 1.5rem;
    font-weight: 700;
}

/* online games section */
.online-games-container {
    /* border: 1px solid red; */
    max-width: 1000px;
    margin: 50px auto;
}

.online-games-content {
    text-align: center;
    margin-bottom: 50px;
}

.games-card-container {
    /* border: 1px solid blue; */
    /* height: 400px; */
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.games-card {
    position: relative;
    max-width: 200px;
}

.text-overlay {
    position: absolute;
    background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 1.25rem;
    font-weight: 600;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    display: none;
    white-space: nowrap;
}

.icon-overlay {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    display: none;
}

.games-card:hover .text-overlay {
    display: block;
}

.games-card:hover .icon-overlay {
    display: block;
}

.games-card-container img {
    width: 100%;
}

.games-card:hover img {
    filter: grayscale(70%);
}

/* big banner section */
.big-banner-container {
    /* border: 1px solid red; */
    max-width: 1000px;
    min-height: fit-content;
    margin: 0 auto;
}
.big-banner-up,
.big-banner-down {
    /* border: 1px solid blue; */
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.big-banner-up-content {
    /* border: 1px solid green; */
    width: 50%;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}
.big-banner-down-content {
    width: 50%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.big-banner-up-img,
.big-banner-down-img {
    /* border: 1px solid yellow; */
    height: 400px;
    width: 50%;
    position: relative;
}
.big-banner-up-img .main-up-img {
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
}

.big-banner-down-img .main-down-img {
    height: 100%;
    object-fit: cover;
}

.big-banner-up-img .up-overlay-img {
    position: absolute;
    height: 250px;
    left: -20%;
    top: 55%;
}

.big-banner-down-img .down-overlay-img {
    position: absolute;
    height: 250px;
    right: -20%;
    top: 55%;
}

/* career section */
.career {
    background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
}
.careers-container {
    /* border: 1px solid red; */
    max-width: 1000px;
    margin: 0 auto;
    height: fit-content;
    display: flex;
}
.career-content {
    /* border: 1px solid blue; */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.career-title {
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
}

.career-description {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
}

.career-content .btn {
    width: 60%;
}
.career-img {
    /* border: 1px solid green; */
    width: 50%;
}

.career-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lists {
    display: flex;
    justify-content: space-between;
}

.lists ul {
    list-style: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
}
.right-list {
    text-align: right;
}

/* game tags */
.game-tag-container {
    background: linear-gradient(
        90deg,
        rgba(255, 66, 165, 0.03) 0%,
        rgba(255, 66, 165, 0.03) 100%
    );
}
.game-tags {
    /* border: 1px solid red; */
    max-width: 1000px;
    min-height: 350px;
    margin: 0 auto;
}
.tag-grid {
    display: flex;
    flex-wrap: wrap;
    min-height: 350px;
    align-content: center;
    justify-content: center;
    gap: 10px;
}
.tag {
    display: flex;
    justify-content: flex-start;
    background-color: #fff;
    align-items: center;
    /* border: 1px solid black; */
    border-radius: 48px;
}
.tag-title {
    white-space: nowrap;
    color: #0b0223;
    font-size: 0.9rem;
    font-weight: 600;
}
.tag:hover {
    cursor: pointer;
    outline: 1px solid #ff42a5;
}

/* footer */
footer {
    background-color: #0b0223;
}
.page-footer {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0;
}
.footer-title {
    color: #fff;
    font-size: 2.8rem;
    font-weight: 700;
}
.special-g {
    background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
    color: transparent;
    -webkit-background-clip: text;
}
.footer-menu-list {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.brand-container {
    display: flex;
}

.footer-menu-list li {
    list-style: none;
}

.footer-menu-list a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.footer-links > a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    font-weight: 500;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.footer-text {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    font-weight: 500;
}
